{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block fos_message_content %}


                    <div class="inbox-header">
                        <h1 class="pull-left">View Message</h1>
                    </div>
                   
                    <div class="inbox-content">
                        <div class="inbox-header inbox-view-header">
    <h1 class="pull-left">{{ thread.subject }}
    <a href="{{ url('fos_message_inbox') }}">
         Inbox
    </a>
    </h1>
   
</div>
{% for message in thread.messages %}
<div class="inbox-view-info">
    <div class="row">
        <div class="col-md-12">
            <i class="fa fa-user"></i>
            <span class="bold">
                 {{ message.sender.getFullName() }}
            </span>
            <span>
                 &lt;{{ message.sender|e }}&gt;
            </span>
             à
            <span class="bold">
                 {{ app.user.getFullName() }}
            </span>
             le {{ message.createdAt|date }}
        </div>
        
    </div>
</div>
       <div class="inbox-view">
           {{ message.body| raw }}
        </div>         

{% endfor %}


<h3>{% trans from 'FOSMessageBundle' %}reply{% endtrans %}</h3>

<form action="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}" method="post">
    <div class="inbox-form-group">
        <textarea class="inbox-editor inbox-wysihtml5 form-control" name="message[body]" rows="7"></textarea>
    </div>
    
    <!-- The template to display files available for download -->    
        {{ form_row(form._token) }}

    <input class="btn blue" type="submit" />
</form>
</div>

{% endblock %}
{% block javascripts%}
 {{ parent() }}
  <script type="text/javascript">
    jQuery(document).ready(function($){
     $('.inbox-wysihtml5').wysihtml5({
            "stylesheets": ["{{ asset('message/plugins/bootstrap-wysihtml5/wysiwyg-color.css') }}"]
        });
    });

    </script>
 {% endblock %}